<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.heroku.iberiaid" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Iberia Identity Labs</name>
  <description>Iberia Identity Labs - oAuth Flows</description>
  <author email="itovarba@nttdata.com">Iosu Tovar</author>
  <content src="index.html"/>
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
</widget>